@import 'node_modules/bootstrap/scss/bootstrap.scss';

nav {
  background-color: $dark;
  position: absolute;
  z-index: 2;

  &.navbar {
    position: fixed;
    padding: 2rem 0;
    width: 100%;
  }
}
