@import '~bootstrap/scss/bootstrap.scss';

nav {
  background-color: $dark;
  position: absolute;
  z-index: 2;

  &.navbar {
    position: fixed;
    padding: 2rem 0;
    width: 100%;
  }

  .navbar-brand {
    font-weight: bold;
    font-size: 2.4rem;
  }
}

@media (min-width: 768px) {
  nav {

  }

}
