<section class="hero__container">
  <div class="hero__content">
    <div class="hero__content__text">
      <h3>Olá, me chamo</h3>
      <h1>Lucas Goulart</h1>
      <h3>e sou desenvolvedor front-end</h3>
    </div>
    <div class="hero__content__buttons">
      <a href="https://linkedin.com/in/goulartlcs" target="_blank" class="hero__content__buttons--above">
        <i class="bi bi-linkedin" style="font-size: 1.6rem"></i>
        <span>LinkedIn</span>
      </a>
      <a href="https://github.com/goulartlcs" target="_blank" class="hero__content__buttons--below">
        <i class="bi bi-github" style="font-size: 1.6rem"></i>
        <span>GitHub</span>
      </a>
    </div>
  </div>
</section>
