<section class="projects__container" id="projetos">
  <div class="projects__content">
    <h1>Projetos</h1>
    <div class="projects__list">
      <p *ngIf="!isLoaded">Aguarde novidades...</p>
      <ul *ngIf="isLoaded">
        <li *ngFor="let project of projects">
          <img src="{{ project.img }}" alt="{{ project.title }}">
          <h6>{{ project.title }}</h6>
          <p>{{ project.description }}</p>
          <small>{{ project.tags }}</small>
          <div class="projects__buttons">
            <a href="{{ project.demo }}" target="_blank" class="project__buttons--above">
              <i class="bi bi-link" style="font-size: 2rem"></i>
              <span>Demo</span>
            </a>
            <a href="{{ project.code }}" target="_blank" class="project__buttons--below">
              <i class="bi bi-code" style="font-size: 2rem"></i>
              <span>Code</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
