@import "node_modules/bootstrap/scss/bootstrap.scss";

footer {
  background-color: $dark;

  padding:  2rem $container-padding-x;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: $gray-500;
  }

  a {
    all: unset;
    box-sizing: border-box;

    font-weight: $font-weight-bold;

    &:hover {
      color: $cyan;
      cursor: pointer;
    }
  }
}
