
<section class="about-me__container" id="sobre-mim">
  <div class="about-me__content">
    <img src="assets/avatar.jpg" alt="Foto de Lucas Goulart">
    <div class="about-me__text">
      <div class="about-me__title">
        <h1>Lucas Goulart</h1>
        <h3>Colombo, Paraná</h3>
      </div>
      <p>
        Sou um desenvolvedor front-end em início de carreira, fiz a migração em Fevereiro de 2022 e hoje em dia trabalho com Angular 11 no Banco BV como terceirizado.
      </p>
      <p>
        Tem sido uma experiência fascinante, onde só reforça a minha decisão lá atrás de me tornar um desenvolvedor e tenho aprendido muito com o time.
      </p>
      <div class="about-me__buttons">
        <a href="https://goulartlcs.cdn.prismic.io/goulartlcs/802e4a7a-59fe-4a21-ab7c-70ea8d7856fc_cv-lucas_goulart.pdf" target="_blank" class="about-me__buttons--above">
          <i class="bi bi-cloud-arrow-down" style="font-size: 1.8rem"></i>
          <span>Currículo</span>
        </a>
        <a href="mailto:lucas@goulartlcs.dev" target="_blank" class="about-me__buttons--below">
          <i class="bi bi-envelope" style="font-size: 1.6rem"></i>
          <span>E-Mail</span>
        </a>
      </div>
    </div>
  </div>
</section>
