<section class="xp__container" id="experiencias">
  <div class="xp__content">
    <h1>Experiências</h1>
    <div class="xp__companies">
      <ul>
        <li
          *ngFor="let xp of experiences, let i = index"
          [ngClass]="indexSelected == i ? 'company-selected' : ''"
          (click)="getExperienceDescription(i)"
        >
          {{ xp.empresa }}
        </li>
      </ul>
    </div>
    <div class="xp__descriptions">
      <div class="xp__descriptions-content">
        <div class="xp__descriptions-header">
          <h5>{{ experienceDescription.cargo }}</h5>
          <p>
            <span>{{ experienceDescription.mesInicio }}</span> -
            <span>{{ experienceDescription.mesFim }}</span>
          </p>
        </div>
        <p>{{ experienceDescription.empresa }}</p>
        <p>{{ experienceDescription.descricao }}</p>
      </div>
    </div>
  </div>
</section>
